
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #ffffff; /* White background for the whole page */
    color: #333;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 2%;
    min-height: 70px;
    border-bottom: #bbb 1px solid;
    text-align: center;
}
header h1 {
    margin: 0;
}

body header a {
    color: #ffffff;
    text-decoration: none;
}

body a {
    color: #000000;
    text-decoration: none;
}

.content {
    padding: 5px;
    margin: 10px 0;
    background: #fff; /* White background for each section */
}
h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-right: 1px;
    padding-left: auto;
    border-top-width: 1px;
    border-left-width: auto;
    border-right-width: auto;
}
.print-only {
    display: block;
}
@media print {
    @page {
        margin: 0;
    }
    
    .print-only {
        display: none;
    }
}


p a:hover {
    color:rgb(6, 100, 232);  
}

/* a:visited {
    color: grey;
  } */

.btn {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
}
.btn:hover {
    background: #555;
}
.print-btn {
    background: #444;
}
.print-btn:hover {
    background: #666;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #000000;
    color: #ffffff;
  }
  
  .fa-github {
    background: #000000;
    color: #ffffff;
  }

  .footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
  }
  .copyright {
    font-size: 14px;
  }